body {
    min-height:100vh;
    display:flex;
    flex-direction:column;
    margin:0px; 
}

.header-v1 {
    display:flex;
    flex-direction: column;
    background:darkblue;  
}

.header {
    height:85px;
    display:flex;
    background:darkblue;
    align-items:center;
    justify-content: space-around;
    margin-bottom:20px;
}

a {
    text-decoration: none;
    color:rgb(30, 29, 29);
}

ul {display:flex;
    list-style-type:none;
    gap:15px;}

.hero img {
    margin:0px;
    padding:0px;
    height:200px;
    width:300px;
}

.hero{
    display:flex;
    align-items:center;
    justify-content:space-evenly;
    margin-bottom:70px;
    gap:90px;
}

.left {
    width:320px;
}

button {
    display:inline-block;
    background-color:blue;
    color:white;
    width:120px;
    margin-top:10px;
    border:none;
    padding:6px 30px;
    border-radius: 6px 6px;
    text-decoration:none;
    cursor:pointer;
    outline:none;
    font-family: 'Arial', sans-serif;
    font-size: 14px;
    font-weight: 600;
    text-align: center;

}

.main{
    display:flex;
    justify-content:space-around;
    flex-direction:column;
    align-items:center;
    margin-top:15px;
    margin-bottom:50px;

}

.imgs{
    display:flex;
    flex-direction: row;
    justify-content:center;
    align-items:center;
    gap:40px;
}

.imgs img{
    width:200px;
    height:auto;
}

.imgs p{
    width:200px;
}

.grey {
    display:flex;
    margin:0px;
    flex-direction:column;
    background-color:grey;  
    font-size:24px;
    align-items:center;
    justify-content:center;
    padding:20px;

    
}

.paragraph {
    max-width:600px;
}

.quote{
    text-align:right;
    max-width:600px;
    width:100%;
}

button {
    display:inline-block;
    background-color:blue;
    color:white;
    width:120px;
    margin-top:10px;
    border:none;
    padding:6px 30px;
    border-radius: 6px 6px;
    text-decoration:none;
    cursor:pointer;
    outline:none;
    font-family: 'Arial', sans-serif;
    font-size: 14px;
    font-weight: 600;
    text-align: center;

}
.cta{
    background-color:white;
    padding:100px 0px;
    display:flex;
    justify-content:center;
    align-items:center;


}


.content{
    background-color:mediumblue;
    display:flex;
    flex-direction:column;
    align-items:start;
    max-width:900px;
    height:150px;
    width:100%;
    padding:20px 90px;
    

}
.cta1{
    display:flex;
}
p.tbh {
    max-width:5500px;

}
.tbh {
    display:flex;
    flex-direction:row;
    gap:95px;
    width:100%;
}

